#root {
  margin: 0 auto;
  text-align: center;
}

#map {
  height: 100vh;
  width: 100vw;
}
                      
                      
.leaflet-popup-content{
                      line-height: .3 !important;
}